.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 16em;
    color: white;
}

.navbar__image {
    width: 50px;
}

.navbar__title {
    margin-left: -1em;
    font-family: system-ui;
    text-transform: uppercase;
    font-weight: 600;

}

.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2em;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}