.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8em;
  background: linear-gradient(34deg, #131219, #212329 40%, #545e7c);
  color: #fff;

}

/* Footer.css is also used for mobile styles */
/* It overrides previous styles by being imported last */

@media screen and (width < 1500px) {
  body {
    text-align: justify;
  }

  .navbar {
    padding: 0 5em;
  }

  .splash {
    padding: 5em 6em 1em;
    justify-content: center;
    text-align: center;
    padding: 1em;
  }

  .splash__image {
    width: auto;
  }

  .project {
    padding: 0 2em 1em;
  }

  .about {
    padding: 0 4em;
    margin-top:10em
  }
}

@media screen and (width < 1025px) {
  .project {
    flex-wrap: wrap;
    gap: 1
  }

  .project__odd {
    flex-direction: column-reverse;
  }

  .project__even {
    flex-direction: column-reverse;
  }

  .project>aside {
    order: 2;
  }

  .project>article {
    order: 1;
  }

  .project__image {
    width: 80vw;
    height: auto;
  }

  .about {
    padding: 0 2em;
    margin-top:5em
  }
}


@media screen and (width < 765px) {
  .navbar {
    justify-content: center;
    padding: 1em 0 0;
  }

  .navbar__left {
    display: none;
  }

  .splash {
    font-size: 1em;
  }

  .splash__image {
    width: 80vw;
  }

  .splash__technologies {
    margin: 1em;

  }

  .project {
    gap: 0;
  }

  .project__ul {
    padding-left: 0;
    text-align: left;

  }

  .about {
    padding: 0 2em;
    flex-direction: column;
    gap: 1em
  }

  .contact {
    margin: 1em;
  }

  .contact__container {
    margin: 1em auto;
    padding: 0.8em;
  }

}