.splash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 4em 5em 1em;
    font-size: 1.5em;
}

.splash__image {
    width: 40vw;
}

.splash__intro{
color: #ccc;
}

.splash__technologies{
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.splash__technologies >img{
    width:100px
}